<!DOCTYPE html>
<!--
<html lang="ja">
<head>
  <meta charset="UTF-8"/>
  <title>Index</title>
  <link rel="stylesheet"
        href="{{url_for('static', filename='style.css')}}">
</head>
<body>
  <h1>{{title}}</h1>
  <p>{{message}}</p>
  { % if flg %}
  <p style="background-color: red; font-weight: bold;;">
    警告! </p>
  { % else %}
  <p style="background-color: blue">
    infomation
  </p>


  <form method="post" acction="/">
    <div>
      <input type="checkbox" name="check" id="ck1">
      <label for="ck1">Checkbox</label>
    </div>
    <div>
      <input type="radio" name="radio" id="r1" value="A">
      <label for="r1">Radio1</label>
    </div>
    <div>
      <input type="radio" name="radio" id="r2" value="B">
      <label for="r1">Radio2</label>
    </div>
    <div>
      <select name="sel" multiple>
        <option>Orange</option>
        <option>Grape</option>
        <option>Apple</option>
        <option>Pine</option>
      </select>
    </div>
    <div>
      <input type="submit">
    </div>
  </form>

</body>
</html>
-->

{% extends "layout.html" %}

{% block title %}
Next
{% endblock %}

{% block headline %}
{{ title }}
{% endblock %}

{% block content %}
<p>{{ message }}</p>
<pre>{{ data }}</pre>
{% endblock %}

{% block footer %}
copyright 2019 morita.
{% endblock %}
